DATABASE_URL="mysql://user:password@localhost:3306/database_name"
GOOGLE_API_KEY="YOUR_GOOGLE_API_KEY"
GOOGLE_API_KEY_1="YOUR_GOOGLE_API_KEY_1"
GOOGLE_API_KEY_2="YOUR_GOOGLE_API_KEY_2"
GOOGLE_API_KEY_3="YOUR_GOOGLE_API_KEY_3"
GOOGLE_API_KEY_4="YOUR_GOOGLE_API_KEY_4"
GOOGLE_API_KEY_5="YOUR_GOOGLE_API_KEY_5"
GOOGLE_API_KEY_6="YOUR_GOOGLE_API_KEY_6"
GOOGLE_API_KEY_7="YOUR_GOOGLE_API_KEY_7"
GOOGLE_API_KEY_8="YOUR_GOOGLE_API_KEY_8"
